snippet div "A simple tag snippet" b
<div class="${1:block__element--modifier}">
</div>
endsnippet

snippet tg "A simple tag snippet" b
<${1:div}>$2</${1/(\w+).*/$1/}>
endsnippet

snippet s
<span class="$2">${visual:inside text/should/is/g}</span>
endsnippet

snippet w
<$1>${visual:inside text/should/is/g}</$1>
endsnippet
