snippet comp "React component" b
class ${1:name} extends Component {
constructor() {
super(props);
}
render() {
return (${2:<div></div>};
}
}
endsnippet

snippet jsonpre "React component" b
<pre>JSON.stringify(${1:x}, null, 2)</pre>
endsnippet
