snippet csq "csquote" b
"quote${1:n}": {
    "text": "${2:quote-text}"
}
endsnippet

snippet cspa "csparagraph" b
"paragraph${1:n}": {
    "title": "${2:n}",
    "subtitle": "${3:n}",
    "text": "${4:n}"
}
endsnippet


snippet csgal "csgallery" b
"gallery1${1:n}": {
    "caption": "${2:n}",
    "images": [
        { "src": "${3:n}", "alt": "${4:n}" }
    ]
},
endsnippet
